.window {
    #title-bar {
        -webkit-app-region: drag;
        height: 22px;
        padding: 0px;
        margin: 0px;
    }
    #title {
        position: fixed;
        top: 0px;
        left: 12px;
        line-height: 32px;
        font-size: 14px;
    }
    #title-bar-btns {
        -webkit-app-region: no-drag;
        position: fixed;
        top: 0px;
        right: 0px;
    }
    #title-bar-btns button {
        height: 32px;
        width: 32px;
        background-color: transparent;
        border: none;
        color: #F1F1F1;
        font-size: 16px;
        outline: none;
        cursor: pointer;
    }
    #title-bar-btns button:hover {
        opacity: .4;
        cursor: pointer;
    }
}